    <div class="nav">
        
        <img width="100px" src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661334171/Proyecto%20Netflix/logo_netflix_corto_zpte5g.jpg" alt="">
    
    <div class="texto">
        <div>
            <span>INICIO</span>
        </div>
        
        <div class="buscar">
            <span>BUSCAR</span>
            <img width="15px" src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661334461/Proyecto%20Netflix/zoom-32_r1dabh.png" alt="">
        </div>
        
    </div>



